<!DOCTYPE html>
<html>
  <head>
    <title>MembersClub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to("Home", root_path) %>
    <% if logged_in? %>
      <%= link_to("Log out", logout_path, method: :delete) %>
      <%= link_to("New post", new_post_path) %>
      Signed in as: <%= @user.name %>
    <% else %>
      <%= link_to("Sign up", signup_path) %>
      <%= link_to("Log in", login_path) %>
    <% end %>
    <br>
    <%= yield %>
  </body>
</html>
